<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="global.msnthrp.messenger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".chat.service.NotificationService" />

        <receiver android:name=".chat.service.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="notificationBroadcastReceiver" />
            </intent-filter>
        </receiver>

        <activity android:name=".login.LoginActivity"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".dialogs.DialogsActivity" />

        <activity android:name=".search.SearchActivity" />

        <activity android:name=".settings.SettingsActivity"
            android:theme="@style/LoginTheme"/>

        <activity android:name=".chat.ChatActivity" />
    </application>

</manifest>